/* fonts */
@font-face {
  font-family: Richard;
  src: url('resources/fonts/Richard-Samuels.otf');
}
html, body, #app {
    height: 100%;
    background-color: #35363a;

}
.grid-custom {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100%;
  }
  
  nav {
    grid-row: 1 / 2;
    height: 100% !important;
    background-color: #202123;
  }
  
  main {
    grid-row: 2 / 3;
    height: 100%;
    background-color: #35363a;
  }
  
  footer {
    grid-row: 3 / 4;
    height: 100%;
    background-color: #202123;
  }
  /* general styles */
  .full-height{
    height: 100%;
  }
  /* buttons custom */
  .btn-custom {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    transition: all .3s ease-in-out;
   }





  .logo{
    max-width: 150px;
  }
  .dm-font{
    font-family: 'Richard';
  }
  .img-card{
    max-height: 300px;
  }
  .scrollable-container {
    max-height: 300px;
    overflow-y: auto;
  }
  .custom-button{
    background-color: #d90000;
  }
  .custom-button:hover{
    background-color: #f81d1d;
  }
  .custom-button-cta{
    background-color: #4467da;
  }
  .custom-button-cta:hover{
    background-color: #4b73f7;
  }
  .custom-submit{
    background-color: #1a9e25;
  }
  .custom-submit:hover{
    background-color: #1cd12b;
  }






/* register and login */
  .container-account{
    background: #2a2b38;
  }
  .title-account{
    margin-bottom: 1rem;
    font-size: 2.5em;
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .field-account{
      margin-top: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5em;
      background-color: #1f2029;
      border-radius: 4px;
      padding: .5em 1em;
  }
  .input-icon{
    height: 1em;
    width: 1em;
    fill: #ffeba7;
  }
  
  .input-account {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
   }
   .btn-account {
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
   }
   
   .btn-link-account {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   .field-account input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   .btn-account:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
   }
   
/* Goals screen */
.container-goals{
  background: #2a2b38;
  border-radius: 20px;
}
.container-goals-content{
  height: 100%;
}
.btn-chat{
  background-color: #29d0fd;
  color: #ffffff;
}
.btn-chat:hover {
  background-color: #029ec9;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(6, 141, 231, 0.2);
 }
.btn-done{
  background-color: #00ff40;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(48, 209, 33, 0.2);
}
.btn-done:hover {
  background-color: #00ff40;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(11, 105, 74, 0.2);
 }

 /* shields screen */
 .card-goal {
  margin: auto;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 7px #ffffff;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: #2a2b38;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #2a2b38;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #00ff40;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}
.img-goal{
  max-width: 90px;
  margin: 20px 0 0px 55px;
}
.title-shield{
  margin-bottom: 23px;
}
.btn-shield{
  background-color: #00ff40;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(48, 209, 33, 0.2);
  margin-left: 55px;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}


  @media screen and (max-width: 992px) {
    .grid-custom {
        display: grid;
        grid-template-rows: 0.1fr 1fr 100px;
        height: 100%;
      }
  }